@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Glitch&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.main-content{
    display: block;
}

.main-content h3{
    font-size: 2rem;
    color: var(--color-white);
    padding: 1rem;
    animation: pulsate 2s infinite;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-content header{
    font-family: 'Bungee', cursive;
    font-size: 2rem;
    color: var(--color-white);
    padding: 1rem;
    animation: pulsate 2s infinite;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@keyframes pulsate {
    0% {
        text-shadow: 0 0 10px #23a6d5, 0 0 20px #23a6d5, 0 0 30px;
    }
    50% {
        text-shadow: 0 0 10px #ff2770, 0 0 20px #ff2770, 0 0 30px;
    }
    100% {
        text-shadow: 0 0 10px #23a6d5, 0 0 20px #23a6d5, 0 0 30px;
    }
}

.main-content .table-container{
    margin: 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 15px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.main-content .table-container table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid var(--color-pink);
}

.main-content .table-container table thead{
    background-color: var(--color-menu);
    color: var(--color-white);
}

.main-content .table-container table thead th{
    padding: 1rem;
    text-align: center;
    background-color: var(--color-black);
}

.main-content .table-container table tbody tr{
    background-color: var(--color-white);
    color: var(--color-white);
}

.main-content .table-container table tbody tr td{
    padding: 1rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-menu);
}

.main-content .table-container table tbody tr td:hover {
    cursor: pointer;
    background-color: var(--color-cyan);
    color: var(--color-black);
}