@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Glitch&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
}

:root{
    --color-background: #191919;
    --color-cyan: #45f3ff;
    --color-pink: #ff2770;
    --color-white: #fff;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #191919;
}

.logo{
    margin-top: 50px;
    height: 300px;
    z-index: 2;
}

.container{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles{
    position: absolute;
    display: flex;
}

.bubbles span{
    position: relative;
    width: 40px;
    height: 40px;
    background: #45f3ff;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #45f3ff55,
    0 0 50px #45f3ff,
    0 0 100px #45f3ff;
    animation: animate 15s 0s linear infinite;
    animation-duration: calc( 125s / var(--i));
    animation-delay: 0s;
}

.bubbles span:nth-child(even){
    background: #ff2770;
    box-shadow: 0 0 0 10px #ff277055,
    0 0 50px #ff2770,
    0 0 100px #ff2770;
}

@keyframes animate {
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-100vh) scale(1);
        opacity: 0;
    }
}

.box{
    position: relative;
    width: 380px;
    height: 500px;
    background-color: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 500px;
    background: linear-gradient(0deg, transparent,
    transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: borderimate 6s linear infinite;
}

.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 500px;
    background: linear-gradient(0deg, transparent,
    transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: borderimate 6s linear infinite;
    animation-delay: -3s;
}

.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}

.borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 500px;
    background: linear-gradient(0deg, transparent,
    transparent, #ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: borderimate 6s linear infinite;
    animation-delay: -1.5s;
}

.borderLine::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 500px;
    background: linear-gradient(0deg, transparent,
    transparent, #ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: borderimate 6s linear infinite;
    animation-delay: -4.5s;
}

@keyframes borderimate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box form{
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 3;
    display: flex;
    flex-direction: column;
}

.box form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.box form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.box form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    color: #23242a;
    font-size: 15px;
    transition: 0.5s;
    z-index: 10;
}

.box form .inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 5px 10px;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    pointer-events: none;
    transition: 0.5s;
}

.box form .inputBox input:valid ~ span, 
.box form .inputBox input:focus ~ span{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}

.box form .inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.box form .inputBox input:valid ~ i, 
.box form .inputBox input:focus ~ i{
    height: 44px;
}

.box form .links{
    display: flex;
    justify-content: space-between;
}

.box form .links a{
    margin: 10px 0px;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}

.box form .links a:hover,
.box form .links a:active{
    color: #fff;
}

/* .box form .inputBox input[type="button"]{ */
.signup-button {
    align-self: center;
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    width: 100px;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}

/* .box form .inputBox input[type="button"]:active{ */
.signup-button:active {
    opacity: 0.8;
}

.signup-button:hover{
    transform: scale(1.05);
}

.back-button{
    z-index: 3;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.back-button i{
    text-decoration: none;
    color: var(--color-white);
    font-weight: 800;
    font-size: 2em;
    transition: 0.3s;
}

.back-button i:hover{
    color: var(--color-pink);
}

